.chip {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--color-primary);
  color: var(--color-text-inverted);
}

.chip__separator {
  width: 1px;
  height: 100%;
  background-color: var(--color-border-strong);
}
