.input {
  height: 1.625rem;
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  font: inherit;
  color: inherit;
  background: var(--color-bg-base);
  outline: none;
  font-size: var(--font-size-sm);
  margin-left: 0.5rem;
  padding: 0 0.5rem;
}

.input:focus {
  border-color: var(--color-primary);
}

.input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
