@import './theme.css';
@import './widget.css';

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg-base);
  font-size: var(--font-size-md);
}

.app {
  max-width: 1200px;
  margin: 0 2rem;
  padding: 4rem 1rem 2rem;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-text-default);
  font-weight: 700;
}

p {
  margin: 0;
}
